<div class="well">
	<b>Char-Name:</b> <small class="badge">VORSICHT! Name muss frei sein (InGame)</small>
	<br/>
	<div class="well">
		<input type="text" class="charName form-control" placeholder="Gebe einen Char-Namen ein" />
	</div>
	<br/>
	<b>Wenn das Feld leer ist, wird der AccountName genutzt.</b>
</div>
<div class="well">
	<b>Char: </b>
	<br/>
	<div class="well">
		<select class="char-type" name="char-type">
			<option disabled selected default>--- Charakter ---</option>
			<option value="0">Krieger</option>
			<option value="1">Ninja</option>
			<option value="2">Sura</option>
			<option value="3">Schamane</option>
		</select>
		
		<select class="char-sex" name="char-sex">
			<option disabled selected default>--- Geschlecht ---</option>
			<option value="0">M&auml;nnlich</option>
			<option value="1">Weiblich</option>
		</select>
	</div>
	<center><img src="" style="width:50%" class="char-img"></center>
</div>

<a href="#" class="btn createAccount btn-success">Account erstellen</a><a href="#" class="btn newMail btn-danger">Neue Trashmail</a>